/* main content*/
* {
    font-family: Helvetica, san-serif;
  }
h2 {
    margin-bottom: 15px;
}
section {
   background-color: gray;
   border: 1px solid black;
   position: relative;
   margin-bottom: 25px;
   padding: 10px;
}
/* main content*/
