/* main content*/
* {
    font-family: Helvetica, san-serif;
  }
h2 {
    margin-bottom: 15px;
}
section {
   background-color: gray;
   border: 1px solid black;
   position: relative;
   margin-bottom: 25px;
   padding: 10px;
}
<<<<<<< HEAD:Assignment-3/css/styles.css
/* #nav-list .navbar-nav>li>a {
   color: black;
} */
/* main content*/
=======
/* main content*/
>>>>>>> 203dbb42d4019cef0a4c3739b48230fd9635eff4:css/styles.css
